# artifacts from .sol compiler
**/artifacts/** 
/.idea/
/.deps/

# workspace
/First_Protype/contracts/epi-foolmeonce.code-workspace
# basic staff from hardhat
/First_Protype/old/
# Config prettier VSC
.prettierrc.json
