# artifacts from .sol compiler
**/artifacts/** 
/.idea/
/.deps/
/.vscode/
# node
**/node_modules/**
package-lock.json
# workspace
/First_Protype/assets/epi-foolmeonce.code-workspace
# basic staff from hardhat
/First_Protype/assets/old/
# Config prettier VSC
.prettierrc.json
First_Protype/README.md

**/contractsData/**