footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(45deg, rgba(209, 209, 209, 0.58) 100%, rgba(247, 25, 136, 1) 100%);
}

.footer img {
    width: 40px;
}

.footer a {
    color: black;
}