node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
Backend/cache
artifacts

# Default Files from Hardhat
/assets/old/**.js
/Backend/contracts/Lock.sol
/assets/epi-foolmeonce.code-workspace
/assets/old/Lock.js

/cache