  table {
      border-collapse: separate;
  }

  thead {
      background-color: #e9ecef;
      color: #000;
      text-align: center;
      font-weight: 800;
  }

  th,
  td {
      border: 1px solid #ddd;
      padding: 8px;
  }

  tr td,
  th {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  th:first-child {
      border-top-left-radius: 10px;
  }

  th:last-child {
      border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
  }