@media (min-width: 851px) {
    main {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 850px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
    }

    footer {
        margin-top: 60px;
    }
}

.logo-tarjeta-top {
    padding: 39px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(3px 4px 3px #babab7)
}

.cards-presentation {
    width: 20em;
    height: 28em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-presentation img {
    width: 300px;
    height: 300px;

}

.brand {
    background: linear-gradient(to right, #babab7 0%, #806e7c);
    font-family: 'serif', 'Times New Roman', Times, 'Helvetica';
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 2px 2px #babab7);
    text-transform: uppercase;
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.create-promise {
    display: grid;
    align-self: center;

}


.simple-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.visual-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    align-content: center;
}


.empty-listed {
    display: grid;
    align-items: center;
}


.padding-basic {
    padding: 20px;
}