.main-home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-tarjeta-top {
    padding: 39px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo-tarjeta-top img {
    width: 70%;
}

.brand {
    background: linear-gradient(to right, #babab7 0%, #806e7c);
    font-family: 'serif', 'Times New Roman', Times, 'Helvetica';
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.create-promise {
    display: grid;
    align-self: center;

}


.simple-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.visual-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    align-content: center;
}


.empty-listed {
    display: grid;
    align-items: center;
}