:root {
  --verde: #82916A;
  --naranja: #CB8655;
  --beige: #E8DFcE;
  --blanco: #F8F8F8;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 90vh;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23babab7' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23897878' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f0efec' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23fcfbfb' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ddd9d5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23968c90' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23bdb4b5' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c3bcc0' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23a89ca5' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23806e7c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23c9beca' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23857285' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.not-found {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.not-found img {
  width: 40%;
}